<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css" >
    </head>

    <body>
            {{>header}}
            <h3>About EDI!</h3> 
            {{>footer}}
    </body>

</html>